<app-navi></app-navi>
<h1 class="page-title">Concerts</h1>
<div *ngIf="!(list)" class="loader-container">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<div  class="concert-list-container" *ngIf="list">
    <div class="concert-list">
        <div class="concert-container" *ngFor="let concert of list">
            <div class="group-img-container">
            <img src={{concert.imageUrl}} alt="">
            <!-- <img src="../concerts-img/acdc.jpg"alt=""> -->
            </div>
            <ul class="concert-info" >
                <li class="last-chance" *ngIf="concert.ticketsCount < 21 && concert.ticketsCount > 0">Last chance!</li>
                <li class="last-chance" *ngIf="concert.ticketsCount == 0">Not have!</li>
            <li class="concert-group">Group: {{concert.groupName}}</li>
            <li class="concert-date">Date: {{concert.date}}</li>
            <li class="concert-place">City: {{concert.city}}</li>
            </ul>
            <div class="two-btns" *ngIf="!isLoggin">
                <span class="login-btn"><a routerLink="/login">Login</a></span>
                <span class="register-btn"><a routerLink="/register">Register</a></span>
            </div>
            <div class="div-detail-btn"*ngIf="isLoggin">
                <a routerLink="/concert/details"(click)="getDetails(concert._id)">Details</a>
            </div>
            <!-- {{concert | json}} -->
        </div>
      
       

    </div>
</div>
