<app-navi></app-navi>
<h1 class="page-title">Концерти</h1>
<div *ngIf="!(list$ | async) " class="loader-container">
    <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
</div>
<div  class="concert-list-container" *ngIf="list$ | async">
    <div class="concert-list">
        <div class="concert-container" *ngFor="let concert of list$ | async">
            <div class="group-img-container">
            <img src={{concert.imageUrl}} alt="">
            </div>
            <ul class="concert-info" >
            <li class="concert-group">Група: {{concert.groupName}}</li>
            <li class="concert-date">Дата: {{concert.time}}</li>
            <li class="concert-place">Място: {{concert.city}}</li>
            </ul>
            <div class="two-btns" *ngIf="!isLoggin">
                <span class="login-btn"><a routerLink="/login">Влез</a></span>
                <span class="register-btn"><a routerLink="/register">Регистрирай се</a></span>
            </div>
            <div class="div-detail-btn"*ngIf="isLoggin">
                <a routerLink="/concert/details"(click)="getDetails(concert._id)">Детайли</a>
            </div>
            <!-- {{concert | json}} -->
        </div>
      
       

    </div>
</div>
