<nav class="site-navi">
    <div class="site-logo"></div>
    <!-- <div class="concerts-navi">
        <p><a href="">Концерти</a></p>
    </div>  -->
    <div class="primary-menu">
        <ul>
            <li><a routerLink="" >Начало</a></li>
            <li><a routerLink="/concert">Концерти</a></li>
            <li *ngIf="isLoggin"><a  href="">Профил</a></li>
            <li *ngIf="!isLoggin"><a routerLink="/login" >Влез</a></li>
            <li *ngIf="isLoggin"><a href="" >Излез</a></li>
            <li *ngIf="!isLoggin"><a routerLink="/register" >Регистрирай се</a></li>
        </ul>
    </div>
</nav>
