<nav class="site-navi">
    <div class="site-logo"></div>
    <!-- <div class="concerts-navi">
        <p><a href="">Концерти</a></p>
    </div>  -->
    <div class="primary-menu">
        <ul>
            <li><a routerLink="" >Начало</a></li>
            <li><a routerLink="/concert" (click)="getList()">Концерти</a></li>
            <li *ngIf="isLoggin" id="navi-profile" class="show-wen-login"><a  href="">Профил</a></li>
            <li *ngIf="!isLoggin" id="navi-login" class="show-wen-noLogin"><a routerLink="/login" >Влез</a></li>
            <li *ngIf="isLoggin" id="navi-logout" class="show-wen-login"><a routerLink="" (click)='logout()' >Излез</a></li>
            <li *ngIf="!isLoggin" id="navi-register" class="show-wen-noLogin"><a routerLink="/register" >Регистрирай се</a></li>
        </ul>
        {{isLoggin | json}}
    </div>
</nav>
