<app-navi></app-navi>

<h1 class="page-title">Профил</h1>

<div class="user-info-container">
    <div class="img-container">
        <img src="../../../assets/static/user.png" alt="">
    </div>

    <div class="user-info">
    <p class="first-name">Име: {{firstName}}</p>
    <p class="second-name">Фамилия: {{lastName}}</p>
    <p class="first-name">Имейл: {{email}}</p>
    </div>

    <div class="ticket-info">
        <h3>Резервирани билети: </h3>
            <div class="loader-container"  *ngIf="!ticketList">
                <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
            </div>   

            <ul class="ticket-list" *ngIf="ticketList">
                <li *ngIf="ticketList.length==0"> <span>Няма резервирани билети!</span> </li>
                
                <li *ngFor="let ticketListt of ticketList">
                    <div  >
                        <span>Група: {{ticketListt.group}}</span>
                        <span>Град: {{ticketListt.city}}</span>
                        <span>Дата: {{ticketListt.date}}</span>
                        <span>Брой билети: {{ticketListt.tickets}}</span>
                    </div>
                
                </li>
            </ul>
           
       
    </div>

    
</div>



