h1.site-title {
    font-family: 'Caveat', cursive;
    font-size: 3.5em;
    color:#3C3B32;
    color:#fff;
    text-align: center;
    text-shadow: 3px 3px 5px black;
    margin-top: 150px;
    transform: translateX(-150px);
    opacity: 0;

}
h1.site-title.loaded {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease-in 1s, opacity 0.5s ease-in 1s;
}

.home-page-button {
    max-width: 50%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
    transform: translateX(150px);
    opacity: 0;
}


.home-page-button.loaded {
    transform: translateX(0);
    opacity: 1;
    transition: transform 0.5s ease 1s, opacity 1s ease 1s;
}
.home-page-button {transition-delay: 5s}
a.show-concerts {
    text-decoration: none;
    color:#fff;
    text-shadow: 0 0 5px black;
    box-shadow: 0 0 15px black;
    font-size: 2.5em;
    padding: 10px 40px;
    border: 0.5px solid #3C3B32;
    border-radius: 5px;
    border: 0.5px solid #fff;
    background-color: rgba(252, 128, 4, 0.500); 

}
a.show-concerts:hover {
    box-shadow: 0 0 30px black;
    background-color: #FF8404;
    transition: background-color 0.3s ease;
    transition: box-shadow 0.3s ease;

}


/* ===================== responsive CSS ================ */


@media (max-width: 600px) {
    .home-page-button {
        max-width: 100%;
    }
}