<app-navi></app-navi>
<h1>Comments</h1>
<div class="testimonials-container">
    <div class="send-testemonial-container">
        <div >
            <div class="text-box">
                <textarea #textArea name="" id="" placeholder="Your comment...." ></textarea>
            </div>
            <div class="send-btn-box">
                <button class="send-btn" (click)="send(textArea)">Send</button>
            </div>
            
        </div>
    </div>
    <h2>All Comments:</h2>
    <div class="all-testimoniels-container">
        <div class="testimonial-container" *ngFor="let t of list">
            <div class="testimonial-box">
                <p>{{t.testimonial}}</p>
            </div>
            <div class="author-box" *ngIf="t._acl.creator !== authorId">
                <span>Author:</span>
                <span>{{t.author.firstName}}</span>
                <span>{{t.author.lastName}}</span>
            </div>
            <div class="btns-box" *ngIf="t._acl.creator === authorId">
                <button class="Delete" (click)="deleteCom(t._id)">Delete</button>
            </div>
            
        </div>
        
    </div>
</div>
