/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Caveat&display=swap');

* {
    
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
}
body {
   margin: 0;
   padding: 0; 
   font-family: 'Caveat', cursive;
   min-height: 100vh;
   background-image: url('../src/assets/static/concert.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

app-root {

    min-height: 100vh;
    
    display: block;
    
    position: relative;
    
    /* padding-bottom: 56px;  */
    
    }
.section-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.page-container {
    flex-grow: 2;
    height: 100%;
}
.footer-container {
    /* margin-top: auto; */
}

