<app-navi></app-navi>
<div class="page-title-container">
    <h1 class="page-title">Влез</h1>
  </div>
  
  <form #logForm="ngForm" class="login-form form"  method="post">
    <div class="input-container">
      <div class="form-label-input">
        <label for="inputEmail"><span>Email</span></label>
        <input ngModel #emailInput="ngModel" type="text" id="inputEmail" name="email"  class="form-control" required placeholder="Email" 
          autofocus="">
        <div *ngIf="emailInput.errors?.required && emailInput.touched" class="requred-conditions"> <p>Email is required</p> </div>

      </div>
  
      <div class="form-label-input">
        <label for="inputPassword">Password</label>
        <input type="password" ngModel #passwordInput="ngModel" id="inputPassword" ngModel name="password" #inputPassword class="form-control" placeholder="Password" required>
        <div *ngIf="passwordInput.errors?.required && passwordInput.touched" class="requred-conditions"><p>Password is required</p></div>
        
      </div>
    </div>
      <button class="btn login-btn" [disabled]="logForm.invalid" (click)="login(logForm.value)">Sign-In</button>
    
      <div class="div-have-no-acount">
        <p class="have-no-acount"> Don't have account? Then just 
          <a routerLink="/register">Sign-Up</a>
        </p>
      </div>
  
    </form>
