

.login-form .input-container {
    /* max-width: 60%; */
    margin-right: 250px;
}


@media (max-width: 600px) {
    form .form-label-input {
        text-align: right;
    }
    h1.page-title {
        font-size: 3em;
    }

}
