

.register-form .input-container {
    /* max-width: 60%; */
    margin-right: 250px;
}

.form-label-input {
    position: relative;
}

.requred-conditions {
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
    /* background-color: #FFE5CC; */
    font-size: 1.2em;
    padding-right: 10px;
    color: white;
    text-shadow: 2px 2px 2px black;
    /* text-shadow: 0 0 1px black; */
}
.requred-conditions p {
    /* margin: 0;
    padding: 0 3px;
    color:#990000; */
    
    /* border: 1px solid black; */
    text-align: left;
    margin: 0;
    padding: 0;
}
.required-info p {
    margin: 0;
    margin-left: 25%;
}

/* ==================== responsive CSS =============== */

@media (max-width: 600px) {
    .input-container {
        padding-left: 10px;
    }
    .form-label-input {
        display: block;
    }
    
    form .form-label-input {
        text-align: left;
        
    }
    form .form-label-input label {
        display: block;
    }
    form .form-label-input input {
        width: 90%;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    .required-info p{
        margin: 0;
        text-align: left;
    }
}
