<app-navi></app-navi>

<div class="page-title-div">
    <h1 class="page-title">Register</h1>
</div>


<form #regForm="ngForm" class="register-form form"  >
  <div class="input-container">
      <div class="form-label-input">
        <label for="inputName"><span>Name*</span></label>
        <input ngModel #nameInput="ngModel" name="firstName" type="text" id="inputName"  pattern="[a-zA-Z]+" minlength="3" required="" class="form-input" placeholder="Name" >
        <div *ngIf="nameInput.errors?.required && nameInput.touched" class="requred-conditions">Name is required</div>
        <div *ngIf="nameInput.errors?.minlength?.actualLength" class="requred-conditions">
          <p>at least 3 letters</p>
        </div>
        <ng-container *ngIf="!nameInput.errors?.minlength?.actualLength">
          <div *ngIf="nameInput.errors?.pattern?.actualValue" class="requred-conditions">
            <p>only letters and -</p>
          </div>
        </ng-container>
      </div>

      <div class="form-label-input">
        <label for="inputSecondName">Last Name*</label>
        <input ngModel  #secondNameInput="ngModel" type="text" id="inputSecondName" pattern="[a-zA-Z]+"   minlength="3" required name="secondName" class="form-input" placeholder="Last Name*">
        <div *ngIf="secondNameInput.errors?.required && secondNameInput.touched" class="requred-conditions">Last Name is required</div>
        <div *ngIf="secondNameInput.errors?.minlength?.actualLength" class="requred-conditions">
          <p>at least 3 letters</p>
        </div>
        <ng-container *ngIf="!secondNameInput.errors?.minlength?.actualLength">
          <div *ngIf="secondNameInput.errors?.pattern?.actualValue" class="requred-conditions">
            <p>only letters and -</p>
          </div>
        </ng-container>
      </div>
    
      <div class="form-label-input">
          <label for="inputEmail">Email*</label>
        <input type="text" id="inputEmail" ngModel #emailInput='ngModel'  name="email" class="form-input" placeholder="Email" required pattern="[a-zA-Z0-9-_.]+\@[a-z]+\.[a-z]+">
        
          <div *ngIf="emailInput.errors?.required && emailInput.touched" class="requred-conditions">Email is required</div>
          <div *ngIf="emailInput.errors?.pattern?.actualValue" class="requred-conditions">
          <p>invalid email</p>
        </div>
       
      </div>

      <div class="form-label-input">
        <label for="inputPassword">Password*</label>
        <input type="password" id="inputPassword" ngModel name="password" #passwordInput="ngModel" minlength="6" required class="form-input" placeholder="*******" >
        <div *ngIf="passwordInput.errors?.required && passwordInput.touched" class="requred-conditions">Password is required</div>
        <div *ngIf="passwordInput.errors?.minlength?.actualLength" class="requred-conditions">
          <p>min 6 symbols</p>
        </div>
      </div>

      <div class="form-label-input">
        <label for="inputRePassword">Repead Password*</label>
        <input type="password" id="inputRePassword" ngModel name="rePassword" #rePasswordInput="ngModel" required class="form-input" placeholder="*******">
        <div *ngIf="(rePasswordInput.value !== passwordInput.value) && passwordInput.touched" class="requred-conditions">
          <p>password dont match</p>
        </div>
      </div>
        <div class="required-info">
          <p>*required fields</p>
        </div>
    </div>

        <button class="btn registerBtn" [disabled]="regForm.invalid || (passwordInput.value !== rePasswordInput.value)" type="submit" (click)="register(regForm.value)">Sign-Up</button>

        <div class="div-have-acount">
          <p class="have-acount">Already have account? Then just<a routerLink="/login">Sign-In</a>
          </p>
        </div>

  </form>


  
